
html {
    background-color: #000;
    width: 100vw;
}

body {
    overflow: hidden;
}

h1 {
    color:white;
    margin: 10px 0 5px 20px;
    font-family: sans-serif;
}

p {
    color: white;
    margin: 10px 0 5px 20px;
    font-family: sans-serif;
}

#mobileSiteTitle {
    display: none;
}

.bodyText {
    font-style: italic;
    font-size: small;
    bottom: 5px;
    float: left;
    padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

.countries {
    fill: #eee;
    /*stroke: #ddd;*/
    stroke-width: 2px;
}

.states {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #777;
    stroke-width: 1px;
    stroke-dasharray: 8px;
}

.gratBackground {
    fill: #7dbad4;
}


.map {
    border: medium solid #fff;
    transform: translateX(2.5px);
    width: 50%;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 0;
    width: 45%;
}

.numbers {
    fill: white;
    font-family: sans-serif;
    font-size: small;
}

.chartTitle {
    fill: white;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    top: 10px;
}

.chartSubtitle {
    fill: white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    top: 10px;
}

.dropdown {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #cbcbcb;
    box-shadow: 1px 1px 2px #d6d6d6;
}

option {
    font-weight: normal;
}


.infolabel {    
    margin: 0 20px 0 0;    
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}


.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


fieldset {
    width: 200px;
    margin: 20px 0 0 20px;
}


.label_options {
    color: white;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.drawer__wrapper.is-expanded {
    height: 50% !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 480px) {
    .chart {
      display: block;
      position: flex;
      width: 100%;
    }
    .dropdown {
        display: block;
        width: 90%;
        margin: 0;
        height: 3rem;
        text-align: center;
        background-color: #fff;
        font-size: 1.125rem;
    }
    body {
        height: 50%;
    }
    #siteTitle{
        display: none;
    }
    #mobileSiteTitle{
        display: block;
    }
    #intro-paragraph{
        display: none;
    }
    .map {
        width: calc(100% - 10px);
        height: calc(50vh - 60px)
    }
  }
    