
.countries {
    fill: #eee;
    /*stroke: #ddd;*/
    stroke-width: 2px;
}

.states {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.gratLines {
    fill: none;
    stroke: #777;
    stroke-width: 1px;
    stroke-dasharray: 8px;
}

.gratBackground {
    fill: #7dbad4;
}

.map {
    border: medium solid #999;
}
